
.Navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #6D9886;
}

.dentroNavbar{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
}